* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --font-sans: 'Lekton', sans-serif;
  --font-headings: 'Inter', sans-serif;
  --bg: #161716;  
  --subtle: #808080;
  --text: #F5FFFA;
  --border-color: #2a2929;
  --highlight: #318CE7;
  --copied:#00A693;
  --font-size: 30px;
  --font-size-small: 25px;
  --font-size-xs: 17.5px;
  --font-size-xxs: 11px;
  --padding: 20px;
  --padding-small: 10px;
  --padding-xs: 5px;
  --padding-xxs: 2.5px;
  --margin: 20px;
  --margin-large: 40px;
  --margin-small: 10px;
  --margin-xs: 7.5px;
  --border-radius: 2.5%;
  background: var(--bg);
  font-family: var(--font-sans);
  font-size: var(--font-size);
  color: var(--text);
  line-height: 1.5; 
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--margin-large) 0;
  min-height: calc(100vh - 20px);
  overflow: hidden;
}

.parent-container {
  min-height: 100vh;
  max-width: 750px;
  margin-bottom: var(--margin);
}

.avatar {
  height: 2.6rem;
  margin: var(--margin-small);  
}

.logo {
  height: 1.2rem;
  margin-left: var(--margin);
}


.section-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}


.title {
  margin: var(--margin-small);
  margin-top: var(--margin-large);
  margin-bottom: var(--margin);
  font-family: var(--font-headings);
  font-weight: 400;
}

.intro {
  font-size: var(--font-size-small);
  margin: var(--margin-small);
}

.section-projects {
  display: flex;
  overflow: scroll;  
  -ms-overflow-style: none;
  scrollbar-width: none;  
  scroll-snap-type: x mandatory;
}

.section-projects::-webkit-scrollbar{
  display: none;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 375px;
  width: 275px;
  min-width: 220px;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  margin: var(--margin-small);
  padding: var(--padding);
  transition: all 0.3s linear;
  scroll-snap-align: center;
}

.project-card .title {
  font-size: var(--font-size-xs);
  margin: 0;
}

.project-card .brief {
  margin-top: var(--margin-small);
  font-size: var(--font-size-xs);
  color: var(--subtle);
}

.project-buttons-box, .project-button {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.project-button:hover {
  border-bottom: 1px solid var(--highlight);
}

.project-button p{
  font-size: var(--font-size-xs);
  margin: 0 var(--margin-small) ;
  margin-left: 0; 
}

.project-button img {
  margin: 0 var(--margin-small) ;
  margin-left: 0;
  height: 20px; 
}

.section-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.section-social img {  
  width: 25px;
  height: 25px;
}

.social-icon-bg {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;  
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.2s linear;
  margin: var(--margin-xs);
}

.social-icon-bg:hover {
  background-color: var(--text);
}


.email {
  cursor: pointer;
  font-size: var(--font-size-xs);
  color: var(--subtle);
  margin: var(--margin-small);
}

.email:hover {
  color: var(--text);
}

.copied {
  color: var(--copied);
}

.copied:hover {
  color: var(--copied);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-top: 1px solid gray;
  width: 100%;
  height: 45px;
  background-color: var(--border-color);
  overflow-y: visible;
  
}

footer p {
  font-size: var(--font-size-xs);
}

#headphone {
  position: absolute;
  bottom: 0px;
  left: 5px;
  cursor: pointer;
}

#headphone[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: -10%;
  right: -40px;
  font-size: var(--font-size-xs);
}

hr {
  width: 10%;
  margin: var(--margin);
  margin-left: var(--margin-small);
  background-color: var(--highlight);
  border-color: var(--highlight);
}

.writings-card {
  cursor: pointer;
  position: relative;
  width: inherit;
  height: fit-content;  
  border-radius: var(--border-radius);
  border: 2px solid var(--border-color);
  margin: var(--margin) var(--margin-small);
  transition: all 0.3s linear;
}

.writings-card:hover, .os-card:hover, .project-card:hover {
  box-shadow: 1.5px 1.5px var(--highlight);
}

.writings-card .description {
  font-size: var(--font-size-xs);
}

.writings-card .date {
  position: absolute;
  top: -12;
  right: 0; 
  font-size: var(--font-size-xxs);
  font-weight: 700;
  color: var(--highlight);
  border-radius: 16px;
  border: 1px solid var(--highlight);
  padding: var(--padding-xxs) var(--padding-small);
  background-color: var(--bg);
  width: fit-content;
}

.os-card {
  cursor: pointer;
  position: relative;
  width: auto;
  height: fit-content;  
  border-radius: var(--border-radius);
  border: 2px solid var(--border-color);
  margin: var(--margin) var(--margin-small);
  transition: all 0.3s linear;
}

.os-card .description {
  font-size: var(--font-size-xs);
}

.os-card .languages {
  display: flex;
}

.tags {
  font-size: var(--font-size-xxs);
  font-weight: 700;
  color: var(--highlight);
  border-radius: 16px;
  padding: var(--padding-xxs) var(--padding-small);  
  border: 1px solid var(--highlight);
  width: fit-content;
  margin: var(--margin-small);
  margin-top: 0;
}

.description {
  margin: var(--margin-small);
  color: var(--subtle);
}


@media only screen and (max-width: 600px) {
  .parent-container {
    max-width: 95vw;
  }
  
  .avatar{
    height: 2rem;
  }
  .logo {
    height: 1rem;
  }
}
