<!DOCTYPE html>
<html data-color-mode="dark" lang="en">

<head>
    <link rel="stylesheet" href="/styles/globals.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap"
        rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-78ZMBSPY3X"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-78ZMBSPY3X');
    </script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta charset="UTF-8">
    {{if eq .Data.html.title nil}}
    <title>Adarsh Bhadauria - Hi there!</title>
    {{else}}
    <title>{{.Data.html.title}} | adxy</title>
    {{end}}

    <meta charset="UTF-8" />
    <meta name="keywords" content="Adarsh Bhadauria, Adxy, Software, Engineering, Personal Portfolio, Personal Website">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="https://beta.adxy.dev/images/og-banner.jpg" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="https://beta.adxy.dev/images/og-banner.jpg" />

    {{if .Data.html }}
    <meta name="title" content="{{.Data.html.title}}" />
    <meta name="description" content="{{.Data.html.description}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{.Data.html.open_graph.url}}" />
    <meta property="og:title" content="{{.Data.html.title}}" />
    <meta property="og:description" content="{{.Data.html.description}}" />

    <meta property="twitter:url" content="{{.Data.html.open_graph.url}}" />
    <meta property="twitter:title" content="{{.Data.html.title}}" />
    <meta property="twitter:description" content="{{.Data.html.description}}" />


    <meta property="twitter:image" content="{{.Data.html.open_graph.img}}" />
    {{else}}
    <meta name="title" content="adxy | engineer" />
    <meta name="description"
        content="Hi, I am Adarsh and welcome to my online portfolio website. I share my work & ideas here. Feel free to reach out to me on the given email/twitter for anything!" />

    <meta property="twitter:url" content="https://beta.adxy.dev" />
    <meta property="twitter:title" content="adxy | engineer" />
    <meta property="twitter:description"
        content="Hi, I am Adarsh and welcome to my online portfolio website. I share my work & ideas here. Feel free to reach out to me on the given email/twitter for anything!" />
    {{end}}
</head>

<body>
    <header>
        <a id="logo-box" href="/" title="Goto Home" aria-label="adxy-logo">
            <img class="svg-icon" src="/images/adxy-logo.svg" alt="adxy logo"></img>
        </a>
        <nav class="nav-bar">
            <a class="nav-icon-bg home" href="/" data-tooltip="Home" data-tooltip-location="bottom">
                <img class="nav-icon svg-icon" src="/images/home.svg" alt="home icon"></img>
            </a>
            <a class="nav-icon-bg contact" href="/contact" data-tooltip="Contact" data-tooltip-location="bottom">
                <img class="nav-icon svg-icon" src="/images/contact.svg" alt="twitter icon"></img>
            </a>
            <a class="nav-icon-bg github" href="https://github.com/adxy" target="_blank" data-tooltip="Github"
                data-tooltip-location="bottom">
                <img class="nav-icon svg-icon" src="/images/github.svg" alt="github icon"></img>
            </a>
            <a class="nav-icon-bg" href="/writings" data-tooltip="Writings" data-tooltip-location="bottom">
                <img class="nav-icon svg-icon" src="/images/writings.svg" alt="challenges icon"></img>
            </a>
            <a class="nav-icon-bg theme" id="theme-button" data-tooltip="Toggle Theme" data-tooltip-location="bottom">
                <img class="theme-button nav-icon svg-icon" id="moon-button" src="/images/moon.svg" alt="moon-button"></img>
                <img class="theme-button nav-icon svg-icon" id="sun-button" src="/images/sun.svg" alt="sun-button"></img>
            </a>
        </nav>
        
    </header>
    <div class="section-divider-top-container">
        <div class="section-divider"></div>
    </div>

    <main class="main-container">
        <div class="parent-container slide-enter-content">
            {{.Content}}
        </div>
    </main>

    <div class="section-divider" id="section-divider-footer"></div>

    <canvas id="crowd-canvas"></canvas>
    <footer>
        <p>© Adarsh Bhadauria 2025 - 2026 |&nbsp;</p>
        <a href="https://github.com/adxy/minima" target="_blank">
            Code
        </a>
    </footer>
    <script defer src="/scripts/howler.core.min.js"></script>
    <script defer src="/scripts/main.js"></script>
    <script defer src="/scripts/gsap.min.js"></script>
    <script defer src="/scripts/crowd.js"></script>
</body>

</html>
