<h1 class="title">Namasté, I'm <s>Adarsh Bhadauria</s> adxy</h1>
<p class="category-info"> minamilist, but not.</p>
<img id="header-banner" src="images/adarsh-header.avif" alt="adarsh-banner"></img>

<h1 class="title">Projects</h1>
<p class="category-info">a collection of my projects.</p>
<section class="section-projects" id="projects">
    {{ range .Data.static.projects }}
    <div class="project-card card">
        <div>
            <p class="title">{{ .title }}</p>
            <p class="brief">{{ .brief }}</p>
        </div>
        <div class="project-buttons-box">
            <a class="project-button" href="{{ .code }}">
                <p>code</p>
                <img class="svg-icon" src="/images/external-link.svg" alt="external link icon">
            </a>
            <a class="project-button" href="{{ .link }}">
                <p>live</p>
                <img class="svg-icon" src="/images/external-link.svg" alt="external link icon">
            </a>
        </div>
    </div>
    {{ end }}
</section>
<h1 class="title">Open Source</h1>
<p class="category-info"> my OS contributions are to projects I actually use & if that project needs a fix or
    improvement,
    hence you'll not find a lot of irrelevant OS contributions.</p>
<section class="section-os" id="open-source">
    {{ range .Data.static.openSource }}
    <div class="os-card card">
        <a href="{{ .prLink }}" target="_blank">
            <p class="description">{{ .title }}</p>
            <div class="languages">
                {{ range .languages }}
                <div class="tags">
                    {{ . }}
                </div>
                {{ end }}
            </div>
        </a>

    </div>
    {{ end }}
</section>
<h1 class="title">Writings</h1>
<p class="category-info"> a collection of technical articles and basically anything exciting that I am learning & want
    to share with
    you.</p>
<section class="section-writings" id="writings">
    <ul style="list-style-type: none">
        {{range .Data.writing.pages}}
        <li class="writings-card card">
            <a href="{{print  " /writings/" .slug}}">
                <div class="description">{{.title}}</div>
                <div class="date">{{.formatteddate}}</div>
            </a>
        </li>
        {{end}}
    </ul>
</section>
<script type="module" src="/scripts/index.js"></script>
