<h1 class="title">Namaste!</h1>
<div id="header-banner-box">
    <img id="header-banner" src="images/adarsh-header.jpg" alt="adarsh-banner"></img>
</div>
<p class="intro">I am <s><b>Adarsh Bhadauria</b>, a.k.a</s> <b>adxy</b>. I am an Engineer who loves design
    & building products.
    <br>
    <br>
    Sometimes I build projects that people can use, you can find a few below & most of the time I am solving
    problems that help the product grow.
    <br>
    <br>
    Apart from software & design I regularly play football, chess and swim.
    <br>
    <br>
    You can reach me at <a class="email" data-tooltip="Click to copy!" data-tooltip-location="bottom">theadxy@gmail.com</a>, <a href="https://twitter.com/theadxy"
        target="_blank">Twitter/X</a>,
    <a href="https://linkedin.com/in/adxy" target="_blank">LinkedIn</a> or <a href="https://github.com/adxy"
        target="_blank">Github</a>.
</p>
<h1 class="title">Projects</h1>
<section class="section-projects" id="projects">
{{ range .Data.projects }}
<div class="project-card card loader">
    <div>
        <p class="title">{{ .title }}</p>
        <p class="brief">{{ .brief }}</p>
    </div>
    <div class="project-buttons-box">
        <a class="project-button">
            <p>code</p>            
            <img class="svg-icon" src="/images/external-link.svg" alt="external link icon">
        </a>
        <a class="project-button" href="">
            <p>live</p>
            <img class="svg-icon" src="/images/external-link.svg" alt="external link icon">
        </a>
    </div>  
</div>
{{ end }}
</section>
<h1 class="title">Open Source</h1>
<section class="section-os" id="open-source">
{{ range .Data.openSource }}
<div class="os-card card">
<a href="{{ .prLink }}" target="_blank">
    <p class="description">{{ .title }}</p>
<div class="languages">
{{ range .languages }}
<div class="tags">
{{ . }}
</div>
{{ end }}
</div>
</a>
        
</div>
{{ end }}
</section>
<h1 class="title">Writings</h1>
<section class="section-writings" id="writings">
    <div class="writings-card card loader">
        <p class="description">Loading...</p>
    </div>
</section>
