* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/inter-v12-latin-regular.woff2') format('woff2'); 
}

:root[data-color-mode="light"] {   
  --tag-bg: #FAF9F6;  
  --subtle: #686767;
  --text: #414243;
  --border-color: #b0aeae;
  --highlight: #D64933;
  --copied:#027769;
  --footer-bg: #cecdcd;  
  --moon-display: none;
  --sun-display: block; 
}

:root[data-color-mode="dark"] {
  --tag-bg: #050505 ;
  --subtle: #888888;
  --text: #ededed;
  --border-color: #2a2929;
  --highlight: #318CE7;
  --copied:#00A693;
  --footer-bg: #1e1c1c;  
  --moon-display: block;
  --sun-display: none;
}

html {  
  --bg: #050505;
  --font-sans: 'Inter', sans-serif;
  --font-headings: 'Inter', sans-serif;
  --font-size: 1rem;
  --font-size-small: 25px;
  --font-size-xs: 17.5px;
  --font-size-xxs: 11px; 
  --font-size-h1: 2.25em;
  --padding: 20px;
  --padding-small: 10px;
  --padding-xs: 5px;
  --padding-xxs: 2.5px;
  --margin: 20px;
  --margin-large: 40px;
  --margin-small: 10px;
  --margin-xs: 7.5px;
  --border-radius: 5px; 
  --footer-negative-margin: -1px; 
  font-family: var(--font-sans);
  font-size: var(--font-size);
  line-height: 1.5;
  background: var(--bg);  
  color: var(--text);  
  min-height: 100%;
  position:relative;
  
}

body {
  height: 100%; 
}


a {
  text-decoration: none;
  border-bottom: 1px solid rgba(125,125,125,.3);
  transition: border 0.3s ease-in-out;
  color: var(--text) !important;
}

a:hover {
  border-bottom: 1px solid var(--text);
}

p {
  line-height: 1.75;
}

.main-container {  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--margin-large) 0;
  min-height: calc(100vh - 20px);
  overflow: hidden;
}

.parent-container {
  min-height: 100vh;
  max-width: 750px;
  min-width: 280px;
  margin-bottom: var(--margin);
}

.logo svg {
  height: 1.5em;
  margin-left: var(--margin-small);
}

#logo-box { 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: var(--margin-small);
  border: none;
}


.section-user, .section-user * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  margin: var(--margin-small);
  margin-top: var(--margin-large);
  margin-bottom: var(--margin);
  font-family: var(--font-headings);
  font-weight: 500;
  font-size: var(--font-size-h1);
  line-height: 1.1111111;
}

.intro {
  margin: var(--margin-small);
  color: var(--subtle);
}

.section-projects {
  display: flex;
  overflow: scroll;  
  -ms-overflow-style: none;
  scrollbar-width: none;  
  cursor: grab;
}

.section-projects::-webkit-scrollbar{
  display: none;
}

.card {
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
}

.card:hover {
  box-shadow: 1.5px 1.5px var(--highlight);
  border-bottom: 2px solid var(--highlight);
  border-right: 2px solid var(--highlight);
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 375px;
  width: 250px;
  min-width: 220px; 
  margin: var(--margin-small);
  padding: var(--padding);
  scroll-snap-align: center;  
}

.project-card .title {
  font-size: var(--font-size-xs);
  margin: 0;
}

.project-card .brief {
  margin-top: var(--margin-small);  
  color: var(--subtle);
}

.project-buttons-box, .project-button {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
}

.project-button {
  width: 46%;
}

.project-button div {
  margin: 0 var(--margin-small) ;
  margin-left: 0;
  max-width: 20px; 
}

.section-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.section-social img {  
  width: 1.3em;
  height: 1.3em;  
}

.social-icon-bg {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;  
  border: none  !important;
  border-radius: 50%;
  background-color: transparent;  
  margin: 2px;  
  transition: all 0.3s ease;
}

.social-icon-bg:hover {
  transform: scale(1.2, 1.2)
}

.email {
  cursor: pointer;
  color: var(--subtle);
}

.email:hover {
  color: var(--text);
}

.copied {
  color: var(--copied);
}

.copied:hover {
  color: var(--copied);
}

.nav-bar {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;  
  margin-right: var(--margin);
}

#header-banner-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-banner {
  margin: var(--margin-small);
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--border-radius);
  width: 100%;
}

header {  
  margin-top: var(--margin);
  margin-bottom: var(--margin-small);
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  height: 45px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--border-color);
  width: fit-content;
  padding: var(--padding);
  border-radius: var(--border-radius);  
  height: 40px;
  background-color: var(--footer-bg);
  overflow-y: visible;  
  margin-bottom: var(--margin-small);
}

footer * {
  color: var(--subtle);
}

footer a:hover {
  color: var(--highlight);
}

#canvas {
  margin-top: var(--footer-negative-margin);
  position: relative;
  width: 100%;
  margin-bottom: -6px;
  pointer-events: none;
}

hr {
  width: 100%;
  margin: var(--margin);
  margin-left: var(--margin-small);
  background-color: var(--highlight);
  border-color: var(--highlight);
}

.writings-card {
  cursor: pointer;
  position: relative;
  width: inherit;
  height: fit-content;  
  margin: var(--margin) var(--margin-small);
}

.writings-card .date {
  position: absolute;
  top: -12;
  right: 0; 
  font-size: var(--font-size-xxs);
  font-weight: 700;
  color: var(--highlight);
  border-radius: 16px;
  border: 1px solid var(--highlight);
  padding: var(--padding-xxs) var(--padding-small);
  background-color: var(--tag-bg);
  width: fit-content;
}

.os-card {
  display: flex;
  cursor: pointer;
  position: relative;
  width: auto;
  height: fit-content;  
  margin: var(--margin) var(--margin-small);
}

.os-card a {
  border: none;
}

.languages {
  display: flex;
  flex-wrap: wrap;
}

.tags {
  font-size: var(--font-size-xxs);
  font-weight: 700;
  color: var(--highlight);
  border-radius: 16px;
  padding: var(--padding-xxs) var(--padding-small);  
  border: 1px solid var(--highlight);
  width: fit-content;
  margin: var(--margin-small);
  margin-top: 0;
}

.description {
  margin: var(--margin-small);
  color: var(--subtle);
}

.svg-icon { 
  stroke: var(--text);
  fill: var(--text)
}

.svg-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
}

#theme-switch-animation {
  position: absolute;
  right: 45;
  top: 45;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(50%, -50%);
  transition: width .5s ease-in-out, height .5s ease-in-out;   
  z-index: -1;
}

#theme-switch-animation-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; 
  overflow: hidden;  
  z-index: -1;  
}

#plum-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

@media print {
  .no-print {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .parent-container {
    max-width: 95vw;
  }   
}

@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0
  }

  to {
    transform: translateY(0);
    opacity: 100
  }
}

@media (prefers-reduced-motion:no-preference) {
  html:not(.no-sliding) [slide-enter],
  html:not(.no-sliding) .slide-enter,
  html:not(.no-sliding) .slide-enter-content > *:not(:has(.table-of-contents)) {
    --enter-stage: 0;
    --enter-step: 90ms;
    --enter-initial: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
  }

  .slide-enter-content > *:nth-child(1) { --enter-stage: 1 !important; }
  .slide-enter-content > *:nth-child(2) { --enter-stage: 2 !important; }
  .slide-enter-content > *:nth-child(3) { --enter-stage: 3 !important; }
  .slide-enter-content > *:nth-child(4) { --enter-stage: 4 !important; }
  .slide-enter-content > *:nth-child(5) { --enter-stage: 5 !important; }
  .slide-enter-content > *:nth-child(6) { --enter-stage: 6 !important; }
  .slide-enter-content > *:nth-child(7) { --enter-stage: 7 !important; }
  .slide-enter-content > *:nth-child(8) { --enter-stage: 8 !important; }
  .slide-enter-content > *:nth-child(9) { --enter-stage: 9 !important; }
  .slide-enter-content > *:nth-child(10) { --enter-stage: 10 !important; }
  .slide-enter-content > *:nth-child(11) { --enter-stage: 11 !important; }
  .slide-enter-content > *:nth-child(12) { --enter-stage: 12 !important; }
  .slide-enter-content > *:nth-child(13) { --enter-stage: 13 !important; }
  .slide-enter-content > *:nth-child(14) { --enter-stage: 14 !important; }
  .slide-enter-content > *:nth-child(15) { --enter-stage: 15 !important; }
  .slide-enter-content > *:nth-child(16) { --enter-stage: 16 !important; }
  .slide-enter-content > *:nth-child(17) { --enter-stage: 17 !important; }
  .slide-enter-content > *:nth-child(18) { --enter-stage: 18 !important; }
  .slide-enter-content > *:nth-child(19) { --enter-stage: 19 !important; }
  .slide-enter-content > *:nth-child(20) { --enter-stage: 20 !important; }
}
